extends ../layout
block content
  article
    h1= 'Delete? Really? ' + topic.title

  - var rid = encodeURIComponent(topic['@rid']);
  form(action='/topic/'+rid+'/delete' method='post')
      p
        input(type='submit' name='confirm' value='YES')
        input(type='submit' name='confirm' value='NO')
