doctype html
html
  head
    meta(charset='utf-8')
    title Products
  body
    h1 Products
    ul
      each product in products
        - var id = encodeURIComponent(product['@rid']);
        li
          a(href='/cart/'+id) #{product.title}
